body, #body-table, #body-cell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*
@tab Page
@section Background Style
*/

body, #body-table {
  /* @editable */ background-color: #f1f0f4;
}
